body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7f6;
    color: #333;
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #ffffff;
    text-align: center;
    padding: 30px;

}

header h1 {
    color: darkblue;
    font-size: 40px;
    margin: 0;
}


nav {
    background: #534f4f;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav a {
    color: #fff;
    padding: 15px;
    font-size: 18px;
}

nav a:hover {
    color: #ffeb3b;
}

.marquee-container {
    background: yellow;
    color: red;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    padding: 15px;
    text-align: center;
}

.product-img {
    width: 100%;
    height: 250px;
}

.price {
    font-size: 20px;
    font-weight: bold;
    color: #2e7d32;
}

.shop-btn {
    display: block;
    background: #007bff;
    color: white;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 30px 0;

}